html {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: Arial, sans-serif;
}

p {
    font-size: 13px;
    word-spacing: 1px;
}

nav a {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}

footer a {
    color: #70757a;
    text-decoration: none;
}

nav {
    display: inline-flex;
    flex-direction: row;
    position: absolute;
    font-size: 13px;
    align-items: center;
    margin-top: 8px;
    margin-left: 25px;
    margin-right: 30px;
    right: 0px;
    left: 0px;
    justify-content: space-between;
}

.right-nav > * {
    margin-left: 30px;
}

.left-footer > * {
    margin-right: 23px;
}

.right-footer > * {
    margin-left: 23px;
}

a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    width: auto;
    margin: auto;
    flex-direction: column;
    align-items: center;
    padding-top: 10em;
}

footer {
    font-size: 14px;
    color: #70757a;
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.06);
    padding: 13px 29px 11px 29px;
    border-style: solid;
    border-width: 0.5pt;
    border-color: rgb(236, 235, 235);
}

.logo {
    padding-bottom: 45px;
}

#search-bar {
    width: 475px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 20px;
    margin-bottom: 30px;
    border: 0.5px solid rgb(206,206,206);
}

#sign-in {
    background-color: rgb(26, 128, 243);
    color: #FFF;
    justify-content: center;
    padding: 6px 13px 6px 13px;
    font-weight: 500;
    font-size:14px;
    border: none;
}

#search-button {
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    border: none;
    padding: 8px 15px 8px 15px;
    margin-right: 4px;
    margin-bottom: 22px;
    background-color: rgb(245, 245, 245);
}

#lucky-button {
    font-size: 14px;
    background-color:rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    border: none;
    padding: 8px 15px 8px 15px;
    margin-left: 4px;
    margin-bottom: 22px;
    background-color: rgb(245, 245, 245);
}

#about {
    margin-right: 12px;
}

