html {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: Arial, sans-serif;
}

p {
    font-size: 13px;
    word-spacing: 1px;
}

.navbar a {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}

footer a {
    color: #70757a;
    text-decoration: none;
}
.navbar {
    display: inline-flex;
    position: fixed;
    font-size: 13px;
    align-items: center;
    margin-top: 5px;
    right: 0px;
    left: 0px;
    justify-content: space-between;
}

a:hover {
    text-decoration: underline;
}

.main {
    display: flex;
    width: auto;
    margin: auto;
    flex-direction: column;
    align-items: center;
    padding-top: 10em;
}

footer {
    font-size: 13px;
    color: #70757a;
    display: flex;
    position: fixed;
    justify-content: space-between;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgba(0, 0, 0, 0.06);
    padding: 15px;
}

.logo {
    padding-bottom: 45px;
}

#search-bar {
    width: 475px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 20px;
    margin-bottom: 30px;
}

#sign-in {
    background-color: rgb(26, 128, 243);
    color: #FFF;
    justify-content: center;
    padding: 6px 13px 6px 13px;
    font-weight: 500;
    font-size:14px;
    border: none;
    margin-right: 30px;
}

#search-button {
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    border: none;
    padding: 7px 15px 7px 15px;
    margin-right: 4px;
    margin-bottom: 22px;
    background-color: rgb(245, 245, 245);
}

#lucky-button {
    font-size: 15px;
    background-color:rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    border: none;
    padding: 7px 15px 7px 15px;
    margin-left: 4px;
    margin-bottom: 22px;
    background-color: rgb(245, 245, 245);
}

#about {
    margin-left: 16px;
    margin-right: 14px;
}

#store {

}